# Ignore Python virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore system-specific files
*.DS_Store
*.vscode/
